.food-details{
    width: 100vw;
    margin:auto;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
     background-color: #dddbda; 
}
.back{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 80%;

}

.details-content{
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 600px !important;
   width: 80%;
   align-items: center;
   justify-content: center;
   background-color: #ffffff;
   gap:30px;
   border-radius: 12px;
   padding:0px;
   border-radius: 12px;
 
}
#foodimg{
    border-radius: 10px;
    height: 600px;
    width: 100%;
    
}
.back-btn{
   
    transition: 0.3s;
     margin-top: 60px;
     margin-bottom: 22px;
        background-color: hsl(0, 0%, 12%);
       color:#dddbda;
       width: 140px;
       height: 38px;
       font-size: 14px;
       border-radius: 8px;
       display: flex;
       align-items: center;
       justify-content: center;
}
.back-btn:hover{
    opacity: 0.8;
}

.infos{

    background-color: #ffffff;
    padding:20px;
    display: flex;
    flex-direction: column;

}

.title{
    font-size: 42px;
    font-family: cursive;
}
.desc, .traditions{
       font-family: cursive; 
       font-size: 24px;
       margin-top: 20px;

}

span{
    color:rgb(99, 2, 2);
    font-size: 24px;
    font-weight: bold;
}

.flavor{
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 22px;
}
.calories{
      margin-top: 20px;
    font-size: 22px;  
}
.size{
    font-size: 22px;
}
.amont{
    margin-top: 20px;
    font-weight: 400;
}

@media screen and (max-width:1300px){


.details-content{
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 500px !important;
   width: 96%;
   align-items: center;
   justify-content: center;
   background-color: #ffffff;
   gap:30px;
   border-radius: 12px;
   padding:0px;

}
#foodimg{
    border-radius: 10px;
    height: 500px; 
}
.title{
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 20px;
}
.desc, .traditions{
       font-family: cursive; 
       font-size: 15px;
       margin-top: 6px;
}

span{
    color:rgb(99, 2, 2);
    font-size: 16px;
    font-weight: bold;
    margin-right: 12px;
}
.back-btn{
       margin-top: 100px;
       font-size: 12px;
    
}

.flavor{
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 8px;
}
.back{
    width: 98%;
}
.calories{
    font-size: 14px;  
    margin-top: 10px;
}
.size{
    font-size: 14px;
    margin-top: 10px;
}
.amont{
    font-weight: 400;
    margin-top: 10px;
    font-size: 14px;
}
}

@media screen and (max-width: 520px){
   .details-content{
   display: flex;
   flex-direction: column;
   width: 96%;
   align-items: center;
   justify-content: center;
   background-color: #ffffff;
   border-radius: 12px;
   padding:0px !important;
   height: 960px !important;
   margin-bottom: 20px;

  
}
#foodimg{
    border-radius: 10px;
    height: 500px; 
    margin-top: 0px;

} 
.infos{
    margin-bottom: 90px;
}
.back{
    width: 100%;
}
}