

.about{
background-image:url(../../../public/bg.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
width: 100%;
margin-top: 0px;
}
.twoIrtems{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    width: 90vw;
    padding-top: 120px;
    place-items:center ;
    margin: auto;
}

.images{
    display: flex;
}


div h1{
 margin-top: 0px;
 text-align: center;
 color:rgb(255, 255, 255);
 font-size: 58px;
 font-family: Bitter rose;
}

.info{
    background:transparent;
    background-color: #504e4e08;
    width: 80%;
    border-radius: 12px;   
    padding:30px 20px;
    backdrop-filter: blur(30px);
    margin: auto;
    margin-top: 60px;
}
.info p{
    color:#cbc9c9;
    font-size: 24px !important;
    line-height: 150%;
    padding: 0px;
    font-family: cursive;
    text-align: center;
}

.images img{
    width: 100%;
     object-fit: cover;
    height: 300px;
}
.images div{
width: 100%;
}

@media screen and (max-width:1200px) {
   


.twoIrtems{
    grid-template-columns: 1fr;
}

.images{
    display: flex !important;
}

.info{

    width:100%;
}
}


@media screen and (max-width:510px) {
   .none{
    display: none;
   }
    h1{
    font-size: 32px !important;
   }
   .images{
    flex-direction: column;
   }


}