.contact{
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 100%;
    background-color:#1c1f2afc;
}

.forms h2{
    color: #fdf6f0;
    text-align: center;
    margin-top: 120px;
    font-size: 56px;
    margin-bottom: 30px;
        font-family: "Bitter Rose";
}
.img img{
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
}

form{
 background-color: #ffffff;
 width: 84%;
 padding:60px 30px;
 border-radius: 12px;
 margin:0 auto;
}

input{
    border:1px solid grey;
    height: 48px;
    width: 100%;
    border-radius: 4px;
    padding:16px;
    font-size: 16px;
    color:#4e4c4c;
    margin-top: 8px;
}
label{
    color:rgb(6, 6, 6);
    font-size: 18px;
      font-family: "Montserrat", sans-serif;
  
}

.input, .inp{
    margin-top: 30px;
}
.inp{

    place-content: center;
    gap:12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.date, .time{
    width: 100%;

}
.time input{
    width: 100%;
}
.date input{
    width: 100%;
}

.error-input {
  border: 1px solid red;
  outline: none;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 8px;
  font-family: cursive;

}

.book-btn {
  background-color: #03012f;
  color: #fdf6f0;
  border: none;
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.book-btn:hover {
  opacity: 0.8;
}



@media screen and (max-width: 1200px){
  .contact{
     display: flex;
     flex-direction: column-reverse;
  }
.forms h2{
    font-size: 38px;
    
}
.img img{
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
}

form{
 width: 90%;
 padding:80px 20px;
}

input{
    font-size: 12px;
}
label{
    font-size: 16px;
  
}

.input, .inp{
    margin-top: 20px;
}
.inp{
    gap:6px;
}
.book-btn {
  color: #dedddd;
  width: 100%;
}

}

@media screen and (max-width: 460px){
  .contact{
     display: flex;
     flex-direction: column-reverse;
  }
.forms h2{
    font-size: 28px;
    
}
label{
    font-size: 14px;
}
.img img{
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
}

form{
 width: 90%;
 padding:30px 12px !important;
}

input{
    font-size: 12px;
}


.inp{
    
    grid-template-columns: 1fr;
    
 
}
.book-btn {
  color: #dedddd;
  width: 100%;
}

}
