header {
    display: flex;
    width: 100%;
    background-color:#111319;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(9px);
    padding-inline: 40px;
    position:fixed;
    top:0;
    left:0;
    z-index: 99999;
}



nav ul {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    color: white;

}

#logo {
    max-width: 80px;
}

.logoItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    transition: 0.3s;

}

.logoItems:hover {
    opacity: 0.6;
}

.logoItems p {
    font-family: "Bitter Rose";
    font-size: 44px;

}

a {
    color: #E0E2DB;
      font-family: "Montserrat", sans-serif;
}

.georgianFlag img {
    max-width: 44px;
    cursor: pointer;
    transition: 0.3s;
}

.georgianFlag img:hover {
    opacity: 0.6;
    
}

nav ul li {
    color: #E0E2DB;
  font-family: "Montserrat", sans-serif;
    font-size: 18px;
    transition: 0.3s ease-in-out
}

nav ul li:hover {
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.1);
}
@media screen and (max-width:460px){
  header{
    padding-inline: 6px !important;
  }

  .logoItems p{
    display: none;
  }
  .logoItems img{
    width: 32px;
    height: 32px;
  }

  nav ul li{
    font-size: 10px !important;
    margin-right: 12px;

  }
  a{
        font-size: 8px !important;
  }
  nav ul{
  width: 60vw;
  justify-content: space-between;
  display: flex;

  }
  .georgianFlag img{
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width:1100px){
  header{
    padding-inline: 12px;
  }

  .logoItems p{
    font-size: 18px;
  }
  .logoItems img{
    width: 32px;
    height: 32px;
  }

  nav ul li{
    font-size: 16px;
    

  }
  nav ul{
  width: 40vw;
  justify-content: space-between;
  display: flex;

  }
  .georgianFlag img{
    width: 32px;
    height: 32px;
  }
}